*{
    margin: 0;
    padding: 0;
}

ol,ul{list-style:none;}

body,html{
    height: 100%;
    position: relative;
    background: url("../img/login_background.png");
}

#h_bar{
    width: 100%;
    height: 35px;
    color: white;
}

#Left_log{
    width: 300px;
    top: 35px;
    position: absolute;
    bottom: 0;
}

.inline{
    display: inline-block;
}

/*#light{*/
/*position: absolute;*/
/*width: 50%;*/
/*}*/

#road{
    position: absolute;
    width: 100%;
    left: 15px;
    color: red;
    font-size: larger;
    height: 30px;

}

#light{
    float: right;
    width: 50%;
    border-bottom: solid 1px #41a2ff;
    text-align: center;
    color: red;
    font-size: larger;
    height: 30px;
}

.content{
    position: absolute;
    top: 30px;
    bottom: 0;
    width: 100%;
}


#log{
    width: 280px;
    height: 570px;
    margin-left: 10px;
    position: absolute;
    border-left:1px solid #41a2ff;
    border-right:1px solid #41a2ff;
    border-top:1px solid #41a2ff;
    bottom: 51px;
    background: url("../img/menu_bg_02.png") no-repeat;
    overflow-y: scroll;


}

#log::-webkit-scrollbar{
    width: 10px;
    height: auto;
    background-color: rgba(0,51,130,0.7);
    border-radius: 10px;
}

#log::-webkit-scrollbar-button{
    display: none;
}

#log::-webkit-scrollbar-thumb{
    background-color: rgba(95,158,160,0.7);
    border-radius: 10px;
}

#left_logo{
    background: url("../img/logo_bg_03.png") no-repeat;
    width:280px;
    height:105px;
    margin-left: 10px;
    font-family: Calibri;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu_bottom_style{
    width:280px;
    background:url(../img/menu_buttom_bg_03.png) no-repeat;
    margin-bottom:10px; margin-left:10px;
    margin-right:10px; height:36px;
    position: absolute;
    opacity: 0.6;
    bottom: 5px;
}

.btn {
    width:100px;
    height:30px;
    border-radius: 2em;
    opacity:0.7;
    border:1px solid red;
    background-color:#FFFFFF;
    color:#273273 ;
    font-weight: 500;
}

#btn_light{
    position: absolute;
   bottom: 70px;
    left: 320px;
}


#btn_road{
    position: absolute;
    bottom: 30px;
    left: 320px;
}
#container{
    position: absolute;
    top: 35px;
    left: 300px;
    bottom: 0;
    right: 0;
}

#map_bar{
    position: absolute;
    top: 35px;
    left: 300px;
    right: 0;
    height: 35px;
    background-color: #25A5F7;
}


table{
    margin: 0 0 !important;
}

tr{
    height: 30px;!important;
}

.center_plan{
    height: 250px;
    border: solid 1px lightgrey;
    margin: 0 0;
    top: 0;
    overflow-y: auto;

}




